.js #js-admin-warning {
	display: none;
}
#js-admin-warning {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 999;
	background: rgb(255, 255, 255); /* IE fallback */
	background: rgba(255, 255, 255, 0.8);
}
#js-admin-warning span {
	position: fixed;
	top: 200px;
	padding-left: 120px;
	display: block;
	font-size: 30px;
	color: #000;
}
/* admin options */
#wrap-admin {
	margin: 50px 20px;
	width: 800px;
	position: relative;
	z-index: 0;
	font-family: 'Droid Sans', sans-serif;
	color: #454545;
}
/* header */
#wrap-admin #header {
	margin: 0;
	border: 1px solid #111;
}
#wrap-admin #header #corner {
	width: 158px;
	height: 67px;
	float: left;
	border-top: 1px solid #505050;
	background: #242424 url(images/bg_panel_dark.png) repeat;
}
#wrap-admin #header #banner {
	width: 639px;
	height: 67px;
	position: relative;
	float: right;
	border-top: 1px solid #505050;
	border-left: 1px solid #111;
	background: #363636 url(images/bg_panel_grey.png) repeat;
}
#wrap-admin #header #banner h1 {
	position: absolute;
	bottom: 5px;
	right: 60px;
	font-size: 14px;
	color: #FAFAFA;
}
/* main */
#wrap-admin #main {
	border: 1px solid #111;
	border-top: none;
	background: #242424 url(images/bg_panel_dark.png) repeat;
}
/* menu */
#wrap-admin #lol-admin-nav {
	float: left;
	position: relative;
	z-index: 888;
	width: 158px;
}
#wrap-admin #lol-admin-nav ul { 
	margin-top: 0 
}
#wrap-admin #lol-admin-nav li { 
	margin-bottom: 0 
}
#wrap-admin #lol-admin-nav ul li a:link,
#wrap-admin #lol-admin-nav ul li a:visited {
	padding: 15px 20px;
	display: block;
	font-family: 'Droid Serif', serif;
	font-style: italic;
	text-decoration: none;
	color: #949494;
	border-bottom: 1px solid #111;
	border-top: 1px solid #505050;
	background: #363636 url(images/bg_panel_grey.png) repeat;
}
#wrap-admin #lol-admin-nav ul li.current a,
#wrap-admin #lol-admin-nav ul li a:focus,
#wrap-admin #lol-admin-nav ul li a:hover {
	color: #fff;
	border-top: 1px solid #36312f;
	background: #524844 url(images/bg_panel_brown.png) repeat;
}
/* content */
#wrap-admin #content {
	padding: 20px;
	width: 599px;
	min-height: 500px;
	float: right;
	border-left: 1px solid #111;
	-moz-box-shadow: 0 1px 0 #c1c1c1 inset;
	-webkit-box-shadow: 0 1px 0 #c1c1c1 inset;
	box-shadow: 0 1px 0 #c1c1c1 inset;
	background-color: #fff;	
}
/* group header */
#wrap-admin .options-group { 
	padding-bottom: 20px; 
}
#wrap-admin .options-group h2 {
	padding: 20px 0 10px;
	font-family: 'Droid Sans', sans-serif;
	font-size: 19px;
	font-weight: bold;
	color: #454545;
	text-transform: uppercase;
	text-shadow: none;
	border-bottom: 1px solid #efefef;
}
/* section */
#wrap-admin #content .section { 
	padding-bottom: 20px;
	border-bottom: 1px solid #efefef; 
}
#wrap-admin #content .section h3 {
	margin: 30px 0 20px;
	padding: 0;
	font-size: 13px;
	text-transform: uppercase;
}
#wrap-admin #content .wrap-section .section h3 {
	text-transform: none;
}
#wrap-admin #content .section .command {
	margin: 0;
	padding: 0;
	width: 340px;
	float: left;
}
#wrap-admin #content .section-section-description .command {
	width: 600px;
}
#wrap-admin #content .section .explain {
	margin: 0;
	padding-left: 25px;
	width: 233px;
	float: right;
	font-size: 11px;
	color: #9a9a9a;
	line-height: 20px;
	border-left: 1px solid #dfdfdf;
}
#wrap-admin #content .section-section-description .explain { 
	display: none; 
}
#wrap-admin .command input,
#wrap-admin .command select,
#wrap-admin .command textarea {
	margin-bottom: 15px !important;
	width: 315px;
	-moz-border-radius: 0; 
	-webkit-border-radius: 0; 
	border-radius: 0;
}
#wrap-admin .command input,
#wrap-admin .command textarea {
	padding: 10px;
	border: 1px solid #e7e7e7;
	background: #fafafa;
}
#wrap-admin .command input:focus,
#wrap-admin select:focus,
#wrap-admin textarea:focus { 
	background: #fff; 
}
#wrap-admin .command textarea {
	resize: vertical;
}
#wrap-admin input[type=button],
#wrap-admin .button {
	padding: 8px 13px;
	color: #333;
	cursor: pointer;
	display: inline-block;
	line-height: 14px;
	height: auto;
	border: 1px solid #E7E7E7;
	border-radius: 0;
	background: #fafafa;
}
#wrap-admin input[type=button]:hover {
	color: #111;
	border: 1px solid #cecece;
	background: #E7E7E7;
}
/* description */
#wrap-admin #content .section-section-description {
	margin: 25px 0 15px;
	padding-bottom: 0;
	border-bottom: none;
}
#wrap-admin #content .section-section-description .section-description {
	margin: 0;
	padding: 16px 12px;
	border: 4px solid #ebebeb;
	background: #fafafa;
}
#wrap-admin #content .section-section-description .section-description p { 
	margin: 0;
	line-height: 20px; 
}
/* text */
#wrap-admin input[type=text] { 
	width: 315px;
}
/* select */
#wrap-admin .command select {
	width: 315px;
}
/* checkbox */
#wrap-admin input.checkbox { 
	margin: 0;
	padding: 0;
	width: 35px; 
	border: none!important; 
	background: #fff;
}
/* radio */
#wrap-admin input.lol-radio { 
	margin: 0;
	padding: 0;
	width: 35px; 
	border: none!important; 
	background: #fff;
}
/* radio-images */
#wrap-admin .command .lol-radio-img-img {
	margin: 0 15px 10px 0;
	padding-bottom: 20px;
	display: none;
	cursor: pointer;
	float: left;
}
#wrap-admin .command .lol-radio-img-selected { 
	background: url(images/checked.png) bottom no-repeat;
}
/* color-picker */
#wrap-admin .command input.lol-color {
	padding: 4px 6px;
	width: 100px;
}
#wrap-admin .command .lol-color {
	float: left;
	width: 80px;
	margin-left: 10px;
}
/* upload */

#rap-admin #content .upload_button_div {
	margin-top: 10px;
}
.upload_button_div .button { 
	padding: 3px 10px; 
}
.upload_button_div .image_reset_button { 
	margin-left: 15px; 
}
.upload-error {
	margin-top: 20px;
	padding: 5px 10px;
	width: 293px;
	display: block;
	font-size: 10px;
	font-weight: bold;
	color: #524844;
	line-height: 17px;
	border: 1px solid #695f5b;
	background: #f4efec;
}
.reset-button { 
	float: left; 
}
.lol-option-image { 
	margin-top: 25px;
	padding: 9px;
	max-width: 580px;
	border: 1px solid #e7e7e7;
	background: #fff;
}
/* image preview */
.section-image-preview {
	height: 350px;
	position: relative;
}
.preview {
	padding: 9px;
	width: 580px;
	height: 230px;
	position: absolute;
	top: 95px;
	left: 0;
	border: 1px solid #e7e7e7;
	background: #fff;
}
.preview .lol-img-preview {
	width: 100%;
	height: 100%;
}
/* footer */
.lol-admin-footer {
	padding: 10px 20px;
	height: 30px;
	text-align: right;
	border: 1px solid #111;
	border-top: 1px solid #505050;
	background: #363636 url(images/bg_panel_grey.png) repeat;
}
#wrap-admin .lol-admin-footer .save-button {
	padding: 6px 8px;
	color: #fafafa;
	text-shadow: none;
	cursor: pointer;
	border: 1px solid #111;
	background: #222;
}
#wrap-admin .lol-admin-footer .save-button:hover {
	color: #fff;
	border: 1px solid #000;
	background: #111;
}
#wrap-admin .submit-footer-reset .reset-button {
	margin-top: -40px;
	margin-left: 20px;
	padding: 6px 8px;
	color: #454545;
	text-shadow: none;
	cursor: pointer;
	border: 1px solid #111;
	background: #e7e7e7;
}
#wrap-admin .submit-footer-reset .reset-button:hover {
	color: #111;
	border: 1px solid #111;
	background: #fff;
}
/* message */
#wrap-admin .lol-popup-message {
	position: absolute;
	background: rgb(82, 72, 68); /* IE fallback */
	background: rgba(82, 72, 68, 0.9);
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	display: none;
	z-index: 5;
}
#wrap-admin .lol-popup-save,
#wrap-admin .lol-popup-reset {
	padding: 20px 0 40px;
	width: 330px;
	background: url(images/saved.png) no-repeat 50% 80%;
}
/* clearing-floats */
div.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}