/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
        -webkit-font-smoothing: antialiased!important;
        font-weight: normal;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
@font-face {
    font-family: 'cantarell-bold';
    src: url('../fonts/cantarell-bold-webfont.eot');
    src: url('../fonts/cantarell-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cantarell-bold-webfont.woff') format('woff'),
         url('../fonts/cantarell-bold-webfont.ttf') format('truetype'),
         url('../fonts/cantarell-bold-webfont.svg#cantarellbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cantarell-regular';
    src: url('../fonts/cantarell-regular-webfont.eot');
    src: url('../fonts/cantarell-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cantarell-regular-webfont.woff') format('woff'),
         url('../fonts/cantarell-regular-webfont.ttf') format('truetype'),
         url('../fonts/cantarell-regular-webfont.svg#cantarellregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Caecilia-Roman';
    src: url('../fonts/CaeciliaLTStd-Roman.eot');
    src: url('../fonts/CaeciliaLTStd-Roman.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/CaeciliaLTStd-Roman.woff') format('woff'), 
         url('../fonts/CaeciliaLTStd-Roman.ttf') format('truetype'), 
         url('../fonts/CaeciliaLTStd-Roman.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Caecilia-Bold';
    src: url('../fonts/CaeciliaLTStd-Bold.eot');
    src: url('../fonts/CaeciliaLTStd-Bold.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/CaeciliaLTStd-Bold.woff') format('woff'), 
         url('../fonts/CaeciliaLTStd-Bold.ttf') format('truetype'), 
         url('../fonts/CaeciliaLTStd-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* HEADER */

#content-header{
    width:100%;
    background:#fff;
    height:93px;
    padding-top:20px;
}
#content-header #header{
    width:960px;
    margin:0 auto;
    padding-top:20px;
}
#content-header #header img{
    display:inline-block;
    vertical-align: top;
    margin-right:20px;
}
#content-header #header #menu-principal{
    display:inline-block;
    vertical-align: bottom;
    width:956px;
    background:#292d5f;
    height:35px;
    margin-left:4px;
}
#content-header #header #menu-principal ul{
    margin:0;
    padding:0;
    margin-left:45px;
    padding-top:7px;
}
#content-header #header #menu-principal ul li{
    vertical-align: top;
    display:inline-block;
    font-family: 'cantarell-bold';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    font-size:12px;
    text-transform: uppercase;
}
#content-header #header #menu-principal ul li a{
    color:#fff;
    text-decoration: none;
    padding:0 5px;
}
/*
#content-header #header #menu-principal ul li a.active{
    border-bottom:12px solid #b4b8d3;
}
*/
#content-header #header .sesion{
    display:inline-block;
    vertical-align: top;
    font-family: 'cantarell-bold';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    font-size:11px;
    margin-left:490px;
}
#content-header #header .sesion a{
    color:#58595b;
    text-decoration: none;
    
}
.sesiones{
    background:#babed5;
    padding:5px 10px;
}
.sesiones a{
    color:#fff!important;
}
#content-header #header .sesion a.recordar-pass{
    margin-left:116px;
    font-family: 'cantarell-regular';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
}
#content-header #header .sesion .facebook{
    background:url(../img/facebook_square-final.jpg) no-repeat top left;
    width:30px;
    height:30px;
    text-indent: -9999px;
    display:inline-block;
    vertical-align: top;
    margin-top:3px;
}
#content-header #header .sesion .facebook a{
    width:30px;
    height:30px;
    display:block;
    float:left;
}
#content-header #header .sesion .facebook:hover{
    background:url(../img/facebook_square-final.jpg) no-repeat bottom left;
    width:30px;
    height:30px;
}
#content-header #header .sesion .carrito{
    font-family: 'cantarell-regular';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    font-size: 11px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:40px;
    background:url(../img/carrito.jpg) no-repeat left;
    padding-left:20px;
    display: inline-block;
    vertical-align: top;
}
#content-header #header .sesion .carrito a{
    color:#58595b;
    text-decoration: none;
}
/* CONTENT */
#content{
    width:100%;
    background:url(../img/fondo.jpg);
    overflow:hidden;
    margin-top:22px;
}
#content #content-center{
    width:960px;
    margin:0 auto;
}
#content #content-center #menu-secundario ul{
    margin:0;
    padding:0;
}
#content #content-center #menu-secundario ul li.primer-menu{
  display:block;
  padding-top:10px!important;
  font-family: 'Caecilia-Bold';
  -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
}
#content #content-center #menu-secundario ul li:first-child{
    width:474px;
    background:#d4e6c5;
    list-style: none;
    display:inline-block;
    vertical-align: top;
    margin:0;
    padding:0;
    text-align: center;
    color:#58595b;
    font-size:18px;
}

#content #content-center #menu-secundario ul li:first-child ul li ul{
    display:none;
}
#content #content-center #menu-secundario ul li.primer-menu ul li:nth-child(1), #content #content-center #menu-secundario ul li.primer-menu ul li:nth-child(3), #content #content-center #menu-secundario ul li.primer-menu ul li:nth-child(5){
    background:#8fbc6a!important;
}
#content #content-center #menu-secundario ul li.primer-menu ul li:nth-child(2), #content #content-center #menu-secundario ul li.primer-menu ul li:nth-child(4), #content #content-center #menu-secundario ul li.primer-menu ul li:nth-child(6){
    background:#9dc47d!important;
}
#content #content-center #menu-secundario ul li.primer-menu ul li ul li:nth-child(1), #content #content-center #menu-secundario ul li.primer-menu ul li ul li:nth-child(2), #content #content-center #menu-secundario ul li.primer-menu ul li ul li:nth-child(3), #content #content-center #menu-secundario ul li.primer-menu ul li ul li:nth-child(4), #content #content-center #menu-secundario ul li.primer-menu ul li ul li:nth-child(5), #content #content-center #menu-secundario ul li.primer-menu ul li ul li:nth-child(6){
    background:#8ac13f!important;
}
#content #content-center #menu-secundario ul li ul li ul li a.special{
    color:#fff!important;
}
#content #content-center #menu-secundario ul li ul li ul .column{
    width:120px;
    float:left;
    margin-left:10px;
    margin-bottom:10px;
    margin-top:10px;
    padding-left:10px;
    border-right:1px dashed #6e8d57;
    border-left:1px dashed #6e8d57;
    height:100%;
}
#content #content-center #menu-secundario ul li ul li ul .content-column{
   max-width:450px;
   background:#8ac13f;
   overflow:hidden;
}
#content #content-center #menu-secundario ul li ul li ul .ancha{
    width:240px!important;
    padding-left:-40px;
    margin-left:-40px;
}
#content #content-center #menu-secundario ul li ul li ul .ancha li{
    width:240px!important;
    padding-left:-40px;
    margin-left:-40px;
}
#content #content-center #menu-secundario ul li ul li ul .ancha-dos{
    width:160px!important;
}
#content #content-center #menu-secundario ul li ul li ul .ancha-dos li{
    width:160px!important;   
}
#content #content-center #menu-secundario ul li ul li ul .column:first-of-type{
    border:none;
}
#content #content-center #menu-secundario ul li ul li ul .column:last-of-type{
    border:none;
}
#content #content-center #menu-secundario ul li ul li ul .column li:first-child{
    margin-bottom:5px;
}
#content #content-center #menu-secundario ul li ul li ul .column li{
    color:#58595b;
}
#content #content-center #menu-secundario ul li.primer-menu ul li ul li{
    background:#8ac13f!important;
    list-style: none;
    display:inline-block;
    margin:0;
    padding:0;
    width:120px!important;
    text-align: left!important;
    font-size:14px!important;
}
#content #content-center #menu-secundario ul li ul li ul li a{
    color:#414042!important;
    text-decoration: none;
    font-family: 'cantarell-regular'!important;
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    font-size:14px!important;
}
#content #content-center #menu-secundario ul li:first-child ul li ul li ul{
    display:block;
    margin:0;
    padding:0;
}
#content #content-center #menu-secundario ul li ul li ul li:hover > ul{
    display:block;
    position:relative;
    height:auto;
    margin-right:0px;
    border:none;
    width:130px;
}
#content #content-center #menu-secundario ul li ul li ul li ul li{
    background:#8ac13f;
    list-style: none;
    display:inherit;
    margin:0!important;
    padding:0;
    width:100%;
}
li.cat-item a{
    color:#fff;
}
#content #content-center #menu-secundario ul li ul li ul li ul li a{
    color:#fff!important;
    text-decoration: none;
    font-family: 'cantarell-regular'!important;
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    font-size:14px!important;
}
#content #content-center #menu-secundario ul li ul li ul li ul li a:hover{
    text-decoration: underline;
}
#content #content-center #menu-secundario ul li ul li.sub-menu{
    width:50%;
    float:left;
    text-align: center;  
    height:30px;
    font-family: 'cantarell-regular'!important;
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    font-size:15px!important;
    padding-top:10px!important;
    color:#fff;
}
#content #content-center #menu-secundario ul li ul li.sub-menu a{
    color:#fff;
    text-decoration: none;
    font-size:15px;
}
#content #content-center #menu-secundario ul li ul li:hover{
    cursor:pointer;
}
#content #content-center #menu-secundario ul li ul li:hover > ul{
    display:block;
    font-size:12px!important;
    max-width:450px;
    background: url(../img/flecha-menu.png) no-repeat top;
    z-index:99999;
    position:absolute;
    height:auto;
    margin-right:10px;
    overflow:hidden;
    padding-top:10px;
}
#content #content-center #menu-secundario ul li:first-child ul li{
    background:#d4e6c5;
    margin:0;
    padding:0;
    list-style: none;
}
#content #content-center #menu-secundario ul li:nth-child(2){
    display:inline-block;
    vertical-align: top;
    width:236px;
    overflow:hidden;
    background:#e0e2eb;
}
#content #content-center #menu-secundario ul li:nth-child(2) ul li, #content #content-center #menu-secundario ul li:nth-child(2) ul li ul li,  #content #content-center #menu-secundario ul li:nth-child(2) ul li ul li ul li{
    background:#e0e2eb;
    margin:0;
    padding:0;

}
.segundo-menu, .tercer-menu{
  display:block;
  padding-top:10px!important;
  font-family: 'Caecilia-Bold'!important;
  -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
  text-align: center;
  color:#58595b;
}
.segundo-menu ul li, .tercer-menu ul li{
    color:#fff!important;
    width:236px!important;
    font-family: 'cantarell-regular'!important;
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    font-size:15px!important;
    padding-top:10px!important;
    height:31px;
    background:#babed5!important;
}
.tercer-menu ul li{
    background:#f197a5!important;
}
.tercer-menu ul li a{
    color:#fff;
    text-decoration: none;
}
.segundo-menu ul li ul{
    display:none;
}
.segundo-menu ul li:hover > ul{
    display:block;
    font-size:12px!important;
    max-width:236px;
    background: url(../img/flecha-menu-2.png) no-repeat top!important;
    z-index:999;
    position:absolute;
    height:auto;
    margin-right:10px;
    overflow:hidden;
    padding-top:10px;
}
.segundo-menu ul li ul .content-column{
    background:#858bb7!important;
    margin-top:-1px;
}
.segundo-menu ul li ul .content-column .column{
    background:#858bb7!important;
}
.segundo-menu ul li ul .content-column .column li{
    background:#858bb7!important;
    list-style: none;
    display:inline-block;
    margin:0!important;
    padding:0!important;
    width:120px!important;
    text-align: left!important;
    font-size:14px!important;
    height:20px;
}
#content #content-center #menu-secundario .segundo-menu ul li ul .content-column .column li.cat-item a{
    color:#fff!important;
}
#content #content-center #menu-secundario ul li:last-child{
    width:239px;
    background:#f5dee2;
    display:inline-block;
    vertical-align: top;
    overflow:hidden;
}
#content #content-center #menu-secundario ul li:last-child ul li{
    background:#f5dee2;
    margin:0;
    padding:0;
}
#slide-promo img{
    width:956px;
    margin-top:8px;
}
.titulo-buscador{
    width:956px;
    border-bottom:1px dashed #959595;
    padding-top:35px;
    background: #fff;
}
.titulo-buscador h2{
    font-family: 'Caecilia-Roman';
    color:#58595b;
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    display:inline;
    font-size:26px;
    margin:0;
    padding:0;
    margin-left:10px;
}
.titulo-buscador h2 a{
    font-size:20px;
    color:#58595b;
}
.titulo-buscador h2 span{
    font-size:20px;
}
#buscador{
    background:url(../img/search.jpg) no-repeat;
    width:228px;
    height:26px;
    float:right;
    margin-right:10px;
}
#buscador input{
    border:none;
    background:none;
    width:180px;
    margin-left:10px;
    margin-top:4px;
    font-family: arial;
    font-size:14px;
    color:#999;
    float:left;
}
.btn-buscar{
    width:30px!important;
    height:26px;
    margin-left:0!important;
}
#muestra-productos, #muestra-categorias{
    background: #fff;
}
#muestra-categorias{
    padding-bottom:50px;
}
.producto, .categoria{
    width:236px;
    height:280px;
    border-right:1px solid #efefef;
    border-bottom:1px solid #efefef;
    background: #fff;
    float:left;
}
#muestra-productos{
    overflow:hidden;
}
#muestra-productos-interior{
    overflow:hidden;
    background:#fff;
}
#muestra-productos-interior .producto_detalle{
    width:700px;
    overflow:hidden;
    position:relative;
    margin:50px 150px;
    border:none;
}
#muestra-productos-interior .producto_detalle img{
    box-shadow: 0 0 5px rgba(0,0,0,0.3)
}
#muestra-productos-interior .producto_detalle h3{
    font-size:22px;
    width:100%;
    margin-left:20px;
    text-align: left;
    text-transform: uppercase;
}
#muestra-productos-interior .producto_detalle h3 a{
    color:#08136e;
    text-decoration: none;
}
#muestra-productos-interior .producto_detalle p{
    text-align: left;
    margin-left:20px;
    color:#666;
    font-family: 'cantarell-regular'!important;
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    font-size:14px;
    width:100%;
}
#muestra-productos-interior .producto_detalle .ultimos-campos{
    overflow: hidden;
    width:100%;
}
#muestra-productos-interior .producto_detalle .ultimos-campos #suboption, #muestra-productos-interior .producto_detalle .ultimos-campos .cantidad, #muestra-productos-interior .producto_detalle .ultimos-campos .btn-cotizar{
    float:right;
}
#muestra-productos-interior .producto_detalle .ultimos-campos #suboption{
    margin-right:10px;
    margin-top:5px;
    font-size:13px;
    margin-left:20px;
}
#muestra-productos-interior .producto_detalle .ultimos-campos .cantidad{
    margin-top:5px;
    font-family: 'cantarell-regular'!important;
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    font-size:14px;
    color:#58595b;
}
.producto_detalle .btn-cotizar{
    width:93px;
    height:28px;
    background:#535990;
    padding-top:6px;
    display: inline-block;
    margin-left:10px;
}
.producto_detalle .btn-cotizar a{
    width:93px;
    height:28px;
    color:#fff;
    font-family: 'cantarell-bold';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    text-align: center;
    font-size:14px;
    padding:10px 10px 10px 10px ;
    text-decoration: none;
}

#muestra-productos-interior .producto_detalle .ultimos-campos .cantidad input{
    width:40px;
}
#muestra-productos-interior .producto .btn-cotizar{
    margin-left:496px;
}
@-moz-document url-prefix() { 
  .producto, .categoria {
     width:235px;
  }
  .producto img, .categoria img{
    width:235px;
  }
  .producto .cantidad{
    margin-left:0px!important;
  }
  #content-header #header .sesion{
    width:210px;
    font-size:10px;
  }
  #content-header #header .sesion a.recordar-pass{
    margin-left:106px;
  }
  #content-header #header .sesion .carrito{
    margin-left:77px;
  }
}

.categoria{
    height:311px;
}
.producto:nth-of-type(4),.producto:nth-of-type(8), .categoria:nth-of-type(4),.categoria:nth-of-type(8){
    border-right:none;
}
.categoria .nombre{
    width:218px;
    height:53px;
    background:#545991;
    color:#fff;
    font-family: 'Caecilia-Roman';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    font-size:18px;
    margin:0 auto;
    margin-top:23px;
}
.categoria .nombre a{
    color:#fff;
    text-decoration: none;
    display:block;
    width:100%;
    text-align: center;
    padding-top:17px;
    padding-bottom:17px;
}
.producto h3{
    font-family: 'cantarell-bold';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    font-size:13px;
    color:#08136e;
    text-align: center;
    margin:0;
    padding:0;
    text-transform: uppercase;
}
.producto h3 a{
    color:#08136e;
    text-decoration: none;
}
.producto h3 a:hover{
    text-decoration: underline;
}
.producto p {
    font-family: 'cantarell-regular';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    color:#58595b;
    margin:0;
    padding:0;
    margin-bottom:30px;
    display:block;
    text-align: center;

}
.producto .btn-cotizar{
    width:93px;
    height:28px;
    background:#535990;
    padding-top:6px;
    display: inline-block;
    margin-left:10px;
}
.producto .btn-cotizar a{
    width:93px;
    height:28px;
    color:#fff;
    font-family: 'cantarell-bold';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    text-align: center;
    font-size:14px;
    padding:10px 10px 10px 10px ;
    text-decoration: none;
}
.producto span{
    font-family: 'cantarell-regular';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    color:#58595b;
    font-size:14px;
    margin-left:5px;
}
.producto span a{
    text-decoration: none;
    color:#58595b;
}
.producto .cantidad{
    width:100px;
    font-family: 'cantarell-regular';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    color:#58595b;
    font-size:14px;
    display:inline-block;
    margin-left:7px;
}
.producto .cantidad input{
    width:40px;
}
.paginador-stock{
    background:#fff;
    padding-bottom:50px;
    width:100%;
    float:left;
}
.paginador-stock p{
    margin:0;
    padding-top:26px;
    padding-left:10px;
    display: inline-block;
    font-family: 'cantarell-bold';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    color:#08136e;
    font-size:11px;
}
.paginador-stock .paginador{
    display:inline-block;
    float:right;
    margin-top:26px;
    margin-right:10px;
    font-family: 'cantarell-regular';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    color:#08136e;
    font-size:12px;
}
.carrodecompras, .contacto{
    background:#fff;
    padding:20px 10px 50px 10px;
}
.carrodecompras p{
    font-family: 'cantarell-regular';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    color:#58595b;
    font-size:14px;
}
.carrodecompras table{
    width:930px;
    margin:0 auto;
}
.carrodecompras tr p{
    padding-left:10px;
}
.carrodecompras td{
    border:2px solid #fff;
    width:232px;
}
.carrodecompras td img{
    width:16px;
    margin-left:100px;
}
.carrodecompras td input{
    width:30px;
    margin-left:100px;
}
.carrodecompras tr p.titulo{
    font-size:16px;
    font-family: 'cantarell-bold';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
}
.carrodecompras tr{
    padding-top:15px;
    border:2px solid #fff;
}
.carrodecompras tr:nth-child(2n+1){
    background:#ced0e2;
}
.carrodecompras tr:nth-child(2n+0){
    background:#b4b8d3;
}
.carrodecompras .resumen-compra{
    margin-left:266px;
    margin-top:30px;
}
.carrodecompras .resumen-compra .total-productos{
    width:200px;
    background:#e6e7f0;
    height:24px;
    display:inline-block;
    font-family: 'cantarell-regular';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    color:#58595b;
    font-size:14px;
    padding-top:6px;
    text-align: center;

}
.carrodecompras .resumen-compra .total-cantidad{
    width:232px;
    background:#e6e7f0;
    height:24px;
    display:inline-block;
    font-family: 'cantarell-regular';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    color:#58595b;
    font-size:14px;
    padding-top:6px;
    text-align: center;
}
.carrodecompras .botones .boton{
    width:177px;
    height:23px;
    color:#fff;
    background:#535990;
    display:inline-block;
    padding-top:5px;
    text-align: center;
    font-size:13px;
    font-family: 'cantarell-bold';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
}
.carrodecompras .botones{
    margin-left:289px;
    margin-top:52px;
}
.carrodecompras .botones .boton a{
    color:#fff;
    text-decoration: none;
}
.contacto{
    overflow:hidden;
}
.contacto .contactanos{
    width:464px;
    float:left;
}
.contacto .contactanos h2{
    font-family: 'Caecilia-Roman';
    color:#58595b;
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    font-size: 30px;
    border-bottom:1px dashed #959595;
}
.contacto .contactanos p{
    font-family: 'cantarell-regular';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    color:#58595b;
    font-size:16px;
}
.contacto .contactanos .wpcf7 form{
    font-family: 'cantarell-regular';
    color:#58595b;
    margin-left:30px;
    margin-top:20px;
    width:300px;
}
.contacto .contactanos .wpcf7 form p, .contacto .contactanos form p{
    display:inline-block;
    width:100px;
    margin:0;
    padding:0;
    font-size:12px;

}
.contacto .contactanos form span.wpcf7-form-control-wrap input, .contacto .contactanos input.cortos{
    width:293px;
    height:25px;
    border:none;
    background:#e6e7f0;
    margin-bottom:5px;
}
.contacto .contactanos form span.wpcf7-form-control-wrap textarea{
    width:293px;
    height:138px;
    background:#e6e7f0;
    border:none;
    resize:none;
}
.contacto .contactanos form p.boton-enviar{
    width:340px!important;
}
.contacto .contactanos form p input.wpcf7-submit, .contacto .contactanos form input.boton-enviar{
    height:28px;
    background:#535990;
    border:none;
    color:#fff;
    font-family: 'cantarell-bold';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    font-size:14px;
    float:right;
    margin-right:38px;
    margin-top:23px;
    padding:0 10px;
}
.contacto .ubicacion{
    width:470px;
    float:left;
    border-left:1px dashed #959595;
}
.contacto .ubicacion h2{
    font-family: 'Caecilia-Roman';
    color:#58595b;
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    font-size: 30px;
    border-bottom:1px dashed #959595;
    margin-left:20px;
}
.contacto .ubicacion .mapa{
    margin-left:20px;
}
.contacto .ubicacion p{
    font-family: 'cantarell-regular';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    color:#58595b;
    font-size:16px;
    margin-left:20px;
}
p.recordar-contrasena{
    width:394px!important;
    text-align: right;
}
.contacto .ubicacion h3{
    font-family: 'Caecilia-Roman';
    color:#58595b;
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    border-bottom:1px dashed #959595;
}
.contacto .ubicacion form{
    font-family: 'cantarell-regular';
    color:#58595b;
    margin-left:30px;
    margin-top:20px;
}
.contacto .ubicacion form p{
    width:180px;
    display:inline-block;
    margin:0;
    padding:0;
    font-size:12px;

}
.contacto .ubicacion form span{
    font-size:11px;
    display:inline-block;
    margin-left:10px;
    margin-top:5px;
}
.contacto .ubicacion form input.cortos{
    width:243px;
    height:25px;
    border:none;
    background:#e6e7f0;
    margin-bottom:5px;
}
.contacto .ubicacion form textarea.largo{
    width:293px;
    height:138px;
    background:#e6e7f0;
    border:none;
    resize:none;
}
.contacto .ubicacion form input.boton-enviar{
    padding:0 10px;
    height:28px;
    background:#535990;
    border:none;
    color:#fff;
    font-family: 'cantarell-bold';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    font-size:14px;
    margin-left:130px;
    margin-top:43px;
}
.quienes-somos{
    background:#fff;
    overflow:hidden;
    padding:15px 0px 50px 15px;
}
.quienes-somos p{
    width:45%;
    padding:15px 0px 50px 15px;
    border-top:1px dashed #959595;
    padding:30px 15px 0 15px;
    font-family: 'cantarell-regular';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    color:#58595b;
    font-size:16px;
    float:left;
}
.quienes-somos p:last-of-type{
    border-left:1px dashed #959595;
    font-size:14px;
}
.multimedia{
    background:#fff;
    overflow:hidden;
    padding:15px 0px 50px 15px;
}
.multimedia p{
    font-family: 'cantarell-regular';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    color:#58595b;
    font-size:16px;
}
.multimedia .video{
    float:left;
    margin-right:33px;
    margin-bottom:33px;
}
.multimedia .video:nth-child(5), .multimedia .video:nth-child(9){
    margin-right:0px;
}
.multimedia .video .bajada{
    width:197px;
    height:50px;
    background:#9dca79;
    color:#fff;
    font-family: 'cantarell-regular';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    text-align: center;
    padding:5px;
    font-size:13px;
}
.como-comprar{
    background:#fff;
    overflow:hidden;
    padding:15px 0px 50px 15px;
}
.como-comprar .paso-uno, .como-comprar .paso-dos, .como-comprar .paso-tres, .como-comprar .paso-cuatro, .como-comprar .paso-cinco{
    border-bottom:1px dashed #cccccc;
    padding-top:25px;
    padding-bottom:25px;
    margin-right:15px;
}
.como-comprar .numero{
    display:inline-block;
}
.como-comprar .paso-dos .ejemplo{
    margin-left:130px;
}
.como-comprar p{
    display:inline-block; 
    font-family: 'cantarell-regular';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    color:#58595b;
    font-size:16px;
}
#content-footer{
    background:url(../img/fondo-footer.png);
    width:100%;
    height:180px;
}
#content-footer #footer{
    width:960px;
    margin:0 auto;
}
#content-footer #footer img{
    margin-top:23px;
}
#content-footer #footer .datos-tienda, #content-footer #footer .horarios-atencion{
    float:right;
}
#content-footer #footer .datos-tienda{
    font-size:12px;
    color:#fff;
    margin-top:23px;
    border-right:1px solid #fff;
    padding-right:20px;
    font-family: 'cantarell-regular';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
}
#content-footer #footer .horarios-atencion{
    font-size:14px;
    color:#fff;
    font-family: 'cantarell-regular';
    -webkit-font-smoothing: antialiased!important;
    font-weight: normal;
    margin-top:23px;
    margin-left:20px;
}
.current_page_item{
    border-bottom:0px!important;
}
/* icono menu */
.menu-item-89{
    background:url(../img/home-ico.png) no-repeat;
    padding-left:22px;
    height:22px;
    margin-right:60px;
    padding-top:3px;
}
.menu-item-95{
    background:url(../img/quienessomos-ico.png) no-repeat;
    padding-left:22px;
    height:22px;
    margin-right:60px;
    padding-top:3px;
}
.menu-item-91{
    background:url(../img/como-comprar-ico.png) no-repeat;
    padding-left:22px;
    height:22px;
    margin-right:60px;
    padding-top:3px;
}
.menu-item-94{
    background:url(../img/multimedia-ico.png) no-repeat;
    padding-left:22px;
    height:22px;
    margin-right:60px;
    padding-top:3px;
}
.menu-item-92{
    background:url(../img/contacto-ico.png) no-repeat;
    padding-left:22px;
    height:22px;
    padding-top:3px;
}